#puzzle{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 20px;
    margin-top: 70px;
    place-content: center;
}

h1, h2{
    text-align: center;
    margin-top: 50px;
}

.pieza{
    width: 100px;
    height: 100px;
    font-size: 1.3em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 7px solid black;
    transition: background-color 0.3s;
}

.pieza_verde{
    border: 7px solid #8aff8a;
}

.pieza_naranja{
    border: 7px solid #f9a34d;
}

.pieza_gris{
    border: 7px solid #aeafae;
}